<!-- Welcome section starts -->
<section class="metafields-demo">
  <div class="customize-section">
    <div class="section-inner">
      {% if section.settings.section-heading != blank %}
      <div class="label">
        {{ section.settings.section-heading }}
      </div>
      {% endif %} {% if section.settings.section-large-heading != blank %}
      <div class="section-right">
        <div class="metafield input">
          {{ section.settings.section-large-heading }}
        </div>
        {% endif %} {% if section.settings.description != blank %}
        <div class="metafield">
          {{ section.settings.description }}
        </div>
      </div>

      {% if section.settings.checkbox == true %}
          <div class="checkbox-container" style="background-color: green;">
            {{ section.settings.checkbox }}
          </div>
        {% else %}
          <div class="checkbox-container" style="background-color: red;">
            {{ section.settings.checkbox }}
          </div>
        {% endif %}
          
      {% endif %}
    </div>
  </div>
</section>
<!-- Welcome section ends -->

{% schema %}
{
  "name": "Metafields Test", // Section name
  "settings": [
    { "id": "section-heading", "type": "text", "label": "Heading 1" },
    { "id": "section-large-heading", "type": "text", "label": "Heading 2" },
    { "id": "description", "type": "textarea", "label": "Description" },
    { "id": "checkbox", "type": "checkbox", "label": "Checkbox" }
  ],
  "presets": [
    { "name": "Accentuate Test", "category": "ADVANCED LAYOUT" }
  ]
}
{% endschema %}

{% stylesheet %}
<style>
  .checkbox-container{
    display:flex;
    padding: 20px;
  }
  .metafields-demo {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 10px
  }

  .customize-section {
    width: 100%;
    max-width: 1120px;
    margin: auto;
  }

  .label {
    min-width: 180px;
  }

  .section-inner {
    display: flex;
    border-radius: 5px;
    column-gap: 20px;
    background-color: #475569;
    padding: 14px;
    color: white;
    align-items: center;
  }

  .section-inner + .section-inner {
    margin-top: 6px;
  }

  .section-right {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .metafield {
    color: #1e293b;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: white;
    overflow-wrap: anywhere;
  }

  .metafield.input {
    font-family: monospace;
    background-color: black;
    color: white;
  }
</style>
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
