{% layout true %}
<div class="metafields-demo">
  <div class="customize-section">
      <div class="section-inner">
        <div class="label">Block {{ block }}</div>
        <div class="section-right">
          <div class="metafield input">
            {% raw %}{{ page.metafields.custom_field }}{% endraw %}
          </div>
          <div class="metafield">
            {{ page.metafields.custom_field }}
          </div>
        </div>
      </div>
    <div class="section-inner">
        <div class="label">Block {{ block }}</div>
        <div class="section-right">
          <div class="metafield input">
            {% raw %}{{ page.metafields.custom_field }}{% endraw %}
          </div>
          <div class="metafield">
            {{ page.metafields.custom_field }}
          </div>
        </div>
      </div>
    <div class="section-inner">
        <div class="label">Block {{ block }}</div>
        <div class="section-right">
          <div class="metafield input">
            {% raw %}{{ page.metafields.custom_field }}{% endraw %}
          </div>
          <div class="metafield">
            {{ page.metafields.custom_field }}
          </div>
        </div>
      </div>
    <div class="section-inner">
        <div class="label">Block {{ block }}</div>
        <div class="section-right">
          <div class="metafield input">
            {% raw %}{{ page.metafields.custom_field }}{% endraw %}
          </div>
          <div class="metafield">
            {{ page.metafields.custom_field }}
          </div>
        </div>
      </div>
    <div class="section-inner">
        <div class="label">Block {{ block }}</div>
        <div class="section-right">
          <div class="metafield input">
            {% raw %}{{ page.metafields.custom_field }}{% endraw %}
          </div>
          <div class="metafield">
            {{ page.metafields.custom_field }}
          </div>
        </div>
      </div>
    
  </div>
</div>

<style>
  .metafields-demo {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
  }

  .customize-section {
    width: 100%;
    max-width: 1120px;
    margin: auto;
  }

  .label {
    min-width: 100px;
  }

  .section-inner {
    display: flex;
    border-radius: 5px;
    column-gap: 20px;
    background-color: #475569;
    padding: 18px;
    color: white;
    align-items: center;
  }

  .section-inner + .section-inner {
    margin-top: 15px;
  }

  .section-right {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .metafield {
    color: #1e293b;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: white;
    overflow-wrap: anywhere;
  }

  .metafield.input {
    font-family: monospace;
    background-color: black;
    color: white;
  }
</style>
